In [52]:
import pandas as pd
data=('./51f7ab6a-24ed-4a06-9f5d-04873f1673fd_Data-1.csv')
TF=pd.read_csv(data)
TF.shape

(1601, 67)

In [53]:
TF.sort_values(["Country Name","2022 [YR2022]"],ascending=False, inplace = True)

In [54]:
TF_R = pd.concat([TF, TF]) #se crea una nueva bases de datos
TF_R.shape #la nueva df tiene el doble de datos, por lo que se procede a eliminar los duplicados, incluyendo a aquellos que originalmente estaban
TF_R=TF_R.drop_duplicates() #al final se queda con 1599 casos, que son 2 menos que en la base original
TF_R.shape

(1599, 67)

In [55]:
#Se ha notado que hay algunos países que no tienen un nombre, y cuyos codigos son Nan
#Para ello, se propone eliminarlos, pues no darían resultados adecuados en los analisis
numero_paises_vacios = TF_R['Country Code'].isna().sum()
numero_paises_vacios
#se identifican 3 paises que tienen un codigo vacio. Se procede a eliminarlos y actualizar la base TF_R
TF_R = TF_R.dropna(subset=['Country Code'])
TF_R.shape
#se puede observar que se eliminaron los 3 casos de la base de datos

(1596, 67)

In [56]:
#No se pueden sacar analisis estadísticos con valores ".." como estan en las columnas de los años. Para ello, es necesario
#convertirlos a números. Para ello se utiliza el codigo para convertir un año en número
TF_R['2022 [YR2022]'] = pd.to_numeric(TF_R['2022 [YR2022]'], errors='coerce') 
promedio_2022 = TF_R['2022 [YR2022]'].mean()
TF_R['2022 [YR2022]']
#Ahora, sales como NaN. Cosa que nos ayudará a realizar análisis estadísticos.

1299     6.522375
1301    50.679215
1296          NaN
1297          NaN
1298          NaN
          ...
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
Name: 2022 [YR2022], Length: 1596, dtype: float64

In [57]:
#Para poder aplicarlo a todos los años, primero sacamos las nombres de las columnas, porque de lo contrario sería muy extenso y demandante hacerlo manualmente
TF_R.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1960 [YR1960]', '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]',
       '1964 [YR1964]', '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]',
       '1968 [YR1968]', '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]'],
      dtype='object')

In [58]:
#Ahora teniendo dichas columnas, se aplica el código a una nueva variable para convertir todo el dataframe
import numpy as np
columnas_año=['1960 [YR1960]', '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]',
       '1964 [YR1964]', '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]',
       '1968 [YR1968]', '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]']
for columna in columnas_año:
    TF_R[columna] = pd.to_numeric(TF_R[columna], errors='coerce')  
    TF_R[columna] = TF_R[columna].replace('..', np.nan)

In [59]:
#Se verá la comparación entre la evolucion de varios países. Para ello, se eligen a los paises de sudamerica (SA)
Paises_SA = ['Argentina', 'Bolivia', 'Brazil','Chile', 'Colombia', 'Ecuador', 'Paraguay', 'Peru', 'Uruguay','Venezuela']
Comparaciones_SA = TF_R[TF_R['Country Name'].isin(Paises_SA)]
#Ahora, se propone una dataframe con un solo indicador, que sea el de crecimiento anual (GDP)
Comparaciones_SA_GDP=Comparaciones_SA.loc[Comparaciones_SA['Series Name']=='GDP growth (annual %)']
Comparaciones_SA_GDP

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
1245,Uruguay,URY,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,2.493038,-1.574549,0.170459,2.440521,1.045604,...,4.637539,3.238791,0.370741,1.689798,1.740376,0.156000,0.744432,-6.262977,5.276559,4.921874
927,Peru,PER,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,7.347096,10.035293,4.328250,6.547868,5.621733,...,5.852518,2.382157,3.252245,3.953319,2.518835,3.969351,2.240632,-10.869641,13.417530,2.683871
921,Paraguay,PRY,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,6.900286,3.300259,4.710291,4.212477,6.167975,...,8.293076,5.301239,2.957152,4.268026,4.810079,3.204250,-0.401855,-0.819785,4.016737,0.075439
345,Ecuador,ECU,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,5.124415,4.919147,2.106368,7.407245,3.275082,...,4.946511,3.788869,0.098873,-1.226384,2.368387,1.289292,0.012105,-7.787607,4.235251,2.947669
255,Colombia,COL,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,5.089217,5.411890,3.286708,6.166941,3.600011,...,5.133994,4.499030,2.955901,2.087383,1.359361,2.564324,3.186855,-7.252299,11.016193,7.256563
243,Chile,CHL,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,5.245272,4.026686,5.840140,2.557221,0.950273,...,3.308508,1.792649,2.151942,1.753039,1.357695,3.990029,0.743130,-6.145247,11.737431,2.440403
159,Brazil,BRA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,8.600000,6.600000,0.600000,3.400000,2.400000,...,3.004823,0.503956,-3.545763,-3.275917,1.322869,1.783667,1.220778,-3.276759,4.988850,2.900531
141,Bolivia,BOL,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,2.089296,5.578918,6.797626,3.956597,4.913442,...,6.796011,5.460570,4.857187,4.263921,4.195206,4.223624,2.216706,-8.737884,6.111373,3.605680
45,Argentina,ARG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,5.427843,-0.852022,-5.308197,10.130298,10.569433,...,2.405324,-2.512615,2.731160,-2.080328,2.818503,-2.617396,-2.000861,-9.900485,10.718010,4.956370

In [60]:
#Para facilitar el manejo de la base de datos, y como se quiere ver 
#el GDP del año 2022, se decide construir un dataframe con las siguientes variables
columnas_SA=['Country Name','Series Name','2022 [YR2022]']
GDP_SA=pd.DataFrame(Comparaciones_SA_GDP,columns=columnas_SA)
#Ahora se crea una nueva variable para tener el GDP mensual, en lugar de anual 
GDP_SA['crecimiento mensual'] = GDP_SA['2022 [YR2022]'] / 12
GDP_SA

     Country Name            Series Name  2022 [YR2022]  crecimiento mensual
1245      Uruguay  GDP growth (annual %)       4.921874             0.410156
927          Peru  GDP growth (annual %)       2.683871             0.223656
921      Paraguay  GDP growth (annual %)       0.075439             0.006287
345       Ecuador  GDP growth (annual %)       2.947669             0.245639
255      Colombia  GDP growth (annual %)       7.256563             0.604714
243         Chile  GDP growth (annual %)       2.440403             0.203367
159        Brazil  GDP growth (annual %)       2.900531             0.241711
141       Bolivia  GDP growth (annual %)       3.605680             0.300473
45      Argentina  GDP growth (annual %)       4.956370             0.413031

In [61]:
#ahora se crea el gráfico
alt.Chart(GDP_SA).mark_point().encode(
y = "crecimiento mensual",
    x = "Country Name"
    )
#Se puede observar que Colombia tiene un crecimiento mensual más elevado que el resto de países. Mientras que Paraguay es el más bajo

alt.Chart(...)

In [62]:
#Ahora se procede a revisar como el GDP ha cambiado en el tiempo para el Perú
Pais_Peru=['Peru']
GDP_Peru=Comparaciones_SA_GDP[Comparaciones_SA_GDP['Country Name'].isin(Pais_Peru)]
GDPanual=['GDP growth (annual %)']
GDP_Peru2=GDP_Peru[GDP_Peru['Series Name'].isin(GDPanual)]
GDP_Peru2

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
927,Peru,PER,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,7.347096,10.035293,4.32825,6.547868,5.621733,...,5.852518,2.382157,3.252245,3.953319,2.518835,3.969351,2.240632,-10.869641,13.41753,2.683871

In [63]:
#se convierten las columnas de los años en números
def convertir_numerico(df, columnas):
    for columna in columnas:
        df[columna] = pd.to_numeric(df[columna], errors='coerce')
columnas_año=['1960 [YR1960]', '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]',
       '1964 [YR1964]', '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]',
       '1968 [YR1968]', '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]']
convertir_numerico(GDP_Peru2,columnas_año)
GDP_Peru2

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
927,Peru,PER,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,7.347096,10.035293,4.32825,6.547868,5.621733,...,5.852518,2.382157,3.252245,3.953319,2.518835,3.969351,2.240632,-10.869641,13.41753,2.683871

In [64]:
def crecimiento_mensual(df, columnas):
    for columna in columnas:
        nueva_columna = 'crecimiento mensual_' + columna.split(' ')[0]  # Obtén el año de la columna
        df[nueva_columna] = df[columna] / 12
crecimiento_mensual(GDP_Peru2,columnas_año)
GDP_Peru2

C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13944\3566453501.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[nueva_columna] = df[columna] / 12

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,crecimiento mensual_2013,crecimiento mensual_2014,crecimiento mensual_2015,crecimiento mensual_2016,crecimiento mensual_2017,crecimiento mensual_2018,crecimiento mensual_2019,crecimiento mensual_2020,crecimiento mensual_2021,crecimiento mensual_2022
927,Peru,PER,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,7.347096,10.035293,4.32825,6.547868,5.621733,...,0.48771,0.198513,0.27102,0.329443,0.209903,0.330779,0.186719,-0.905803,1.118128,0.223656

In [65]:
#Se coloca la base de dato transpuesta, porque de lo contrario el gráfico de barras no es viable (me sale vacio el grafico de lo contrario)
GDP_Peru3 = GDP_Peru2.transpose().reset_index()
GDP_Peru3.columns = ['Año', 'crecimiento_mensual']
GDP_Peru3=GDP_Peru3.drop(index=range(67))
GDP_Peru3

                          Año crecimiento_mensual
67   crecimiento mensual_1960                 NaN
68   crecimiento mensual_1961            0.612258
69   crecimiento mensual_1962            0.836274
70   crecimiento mensual_1963            0.360687
71   crecimiento mensual_1964            0.545656
..                        ...                 ...
125  crecimiento mensual_2018            0.330779
126  crecimiento mensual_2019            0.186719
127  crecimiento mensual_2020           -0.905803
128  crecimiento mensual_2021            1.118128
129  crecimiento mensual_2022            0.223656

[63 rows x 2 columns]

In [66]:
#Utilizando esta base de datos se puede sacar un grafico de barras acerca de como ha cambiado el crecimiento mensual en cada año
alt.Chart(GDP_Peru3).mark_bar().encode(
    x = alt.X("Año:N"),
    y = alt.Y("crecimiento_mensual:Q")
    )

alt.Chart(...)